<footer class="border-t py-8">
  <div
    class="max-w-[80rem] mx-auto flex items-center justify-between flex-col-reverse md:flex-row"
  >
    <div class="md:mt-0 mt-8">
      <a href="/" class="text-2xl font-semibold tracking-tight"
        >FrontLine Inn</a
      >
      <p class="text-sm text-gray-300">
        Copyright &copy; 2024. All right reserved.
      </p>
    </div>
    <div class="flex items-center flex-col md:flex-row gap-4 md:gap-12">
      <div class="flex items-center gap-4 md:gap-8">
        <a href="/about" class="text-sm font-medium">About Us</a>
        <a href="/rooms" class="text-sm font-medium">Rooms</a>
        <a href="/facilities" class="text-sm font-medium">Facilities</a>
        <a href="/about#contact" class="text-sm font-medium">Contact Us</a>
      </div>
      <a
        href="/bookings"
        class="text-white bg-black text-sm font-medium px-4 py-2"
        >Book Now</a
      >
    </div>
  </div>
</footer>
