{% extends "shared/base.html" %}

<!--This is the title-->
{% block title %}Imhotep | Facilities{% endblock %}

<main>
  {% block content %}

  <!--This is checking for error-->
  {% if hostel and amenities %}
  <header class="relative h-[50vh]">
    <div class="absolute inset-0 -z-10">
      <img
        src="{{ images.first.image.url }}"
        alt="{{ hostel.name }}"
        class="w-full h-full object-cover object-center"
      />
    </div>
    <div class="z-30 max-w-[80rem] mx-auto h-full flex items-center">
      <div class="w-full">
        <div class="bg-black/50 md:w-3/5 px-4 py-8 space-y-4 text-white">
          <h1 class="md:text-3xl text-xl font-bold underline">
            {{hostel.name}} Facilities
          </h1>
          <p class="text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            veritatis dolorem reprehenderit iusto culpa ipsa iste! Laboriosam
            fugit nobis quod.
          </p>
        </div>
      </div>
    </div>
  </header>
  <section class="max-w-[80rem] mx-auto py-24">
    <div class="flex items-center justify-center flex-wrap gap-16">
      {% for amenity in amenities %}
      <div
        class="w-[500px] md:h-[350px] h-[200px] relative flex justify-center items-center"
      >
        <div class="absolute inset-0 -z-10">
          <img
            src="{{ amenity.amenityimage_set.first.image.url }}"
            alt="{{ amenity.name }}"
            class="w-full h-full object-cover object-center"
          />
        </div>
        <div class="bg-black/50 p-8">
          <h3 class="font-semibold md:text-2xl text-xl text-white">
            {{amenity.name}}
          </h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% else %}
  <h3 class="text-center py-64 text-2xl font-semibold">No Data Available</h3>
  {% endif %} {% endblock %}
</main>
