{% extends "shared/base.html" %}

<!--This it title Block-->
{% block title %} Imhotep | All room {% endblock %}

<main>
  {% block content %}
  <header class="relative h-[50vh]">
    <div class="absolute inset-0 -z-10">
      <img
        src="{{ images.first.image.url }}"
        alt="{{ hostel.name }}"
        class="w-full h-full object-cover object-center"
      />
    </div>
    <div class="z-30 max-w-[80rem] mx-auto h-full flex items-center">
      <div class="w-full">
        <div class="bg-black/50 md:w-3/5 px-4 py-8 space-y-4 text-white">
          <h1 class="md:text-3xl text-xl font-bold underline">
            {{hostel.name}} Rooms
          </h1>
          <p class="text-sm md:text-base">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            veritatis dolorem reprehenderit iusto culpa ipsa iste! Laboriosam
            fugit nobis quod.
          </p>
        </div>
      </div>
    </div>
  </header>

  <section class="max-w-[80rem] mx-auto py-24">
    <div
      class="flex flex-1 items-center flex flex-wrap items-center justify-center gap-16"
    >
      {% for room in rooms %}
      <a href="/rooms/{{room.id}}">
        <div class="relative h-[300px] w-[300px] flex items-end justify-center">
          <div class="absolute inset-0 -z-10">
            <img
              src="{{ room.roomimage_set.first.image.url }}"
              alt="{{ room.name }}"
              class="w-full h-full object-cover object-center"
            />
          </div>
          <div class="p-4">
            <div class="bg-white py-2 px-4 flex gap-4 items-center">
              <p class="text-sm font-semibold truncate">{{ room.name }}</p>
              <div class="border-l pl-4">
                <p class="text-blue-500 font-semibold">
                  <i class="fa-solid fa-cedi-sign"></i
                  ><span>{{room.price}}</span>
                </p>
                <p class="text-xs font-medium text-gray-300">
                  per Academic Year
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
  {% endblock %}
</main>
